.course_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.info_container {
  flex: 1;
  max-width: 600px;
}

.picture {
  flex: 1;
  max-width: 600px;
}

.default_img {
  width: 100%;
  height: auto;
  display: block;
}
