.course_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.info_container {
  flex: 2;
}

.picture {
  flex: 1;
}

.default_img {
  width: 100%;
  height: auto;
  display: block;
}
.started_btn {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
