.footer {
  padding: 8px 20px;
  background-color: #1d3557;
}
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.footer_btn {
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  color: #fff;
  font-size: 20px;
}
